{{template "base" .}}

{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the home page</h1>
      <p>this is some text</p>

      <img
        src="/static/images/home-by-river.jpg"
        alt="home-by-river"
        width="900"
        height="700"
      />
      <img
        src="/static/images/home-by-tree.jpg"
        alt="home-by-tree"
        width="900"
        height="700"
      />
      <img
        src="/static/images/coffee-1.jpg"
        alt="coffee-1"
        width="900"
        height="700"
      />
      <img
        src="/static/images/home-door.jpg"
        alt="home-door"
        width="900"
        height="700"
      />
      <img
        src="/static/images/hillside-home.jpg"
        alt="hillside-home"
        width="900"
        height="700"
      />
      <img
        src="/static/images/coffee-2.jpg"
        alt="coffee-2"
        width="900"
        height="700"
      />
      <img
        src="/static/images/sunset-home.jpg"
        alt="sunset-home"
        width="900"
        height="700"
      />
    </div>
  </div>
</div>

{{ end }}
